:root {
  --color-primary-light: #dbdbdb;
  --color-primary-dark: #000000;
  --color-white: #dddde1;
  --color-black: #101010;
  --body-background: #ccccdd;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  scroll-behavior: smooth;
  color: var(--color-white);
}
@media (max-width: 77.75em) {
  html {
    font-size: 56.5%;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 58em) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 31.25em) {
  html {
    font-size: 50.75%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 23.44em) {
  html {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
  scroll-snap-align: y proximity;
  font-size: 1.8rem;
  word-spacing: 0.2rem;
}
@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-white);
  }
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

.black {
  color: var(--color-black);
}

.color-text {
  color: var(--color-primary-dark);
}

.icon {
  width: 5rem;
}

.link-description {
  font-weight: bolder;
  color: currentColor;
}

.icon {
  width: 4rem;
  aspect-ratio: 1;
  fill: var(--color-black);
}
@media (max-width: 60em) {
  .icon {
    width: 2.5rem;
    aspect-ratio: 1;
  }
}

.center {
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#darkGroup {
  fill: var(--color-primary);
}

#light,
#dark1 {
  transform: translate(1.5rem);
  transition: transform 1s ease-in-out;
}

.service-card:hover #light,
.service-card:hover #dark1 {
  transform: translate(0);
}

.card {
  padding: 3rem;
  background: #f0f0f0;
  border-radius: 5px;
}
@media (max-width: 60em) {
  .card {
    padding: 3rem 2rem;
  }
}

.link, .link:active {
  display: block;
  max-width: 12rem;
  font-size: 1.6rem;
  font-weight: bolder;
  color: inherit;
  text-transform: lowercase;
  padding: 1rem 0;
  position: relative;
  transition: all 0.4s ease-in-out;
}
@media (prefers-color-scheme: dark) {
  .link, .link:active {
    background-color: inherit;
  }
}
@media (max-width: 56.25em) {
  .link, .link:active {
    font-size: 1.4rem;
    max-width: 15rem;
  }
}
.link:hover, .link:active:hover {
  transform: translateY(-1rem);
  box-shadow: 0 5px 3px #555;
  background-color: var(--color-black);
  color: var(--color-white);
}

.flex-row {
  display: flex;
}
@media (max-width: 48em) {
  .flex-row {
    flex-direction: column;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fluid-container {
  width: 100vw;
  padding: 7.5% 0;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-with: 60rem) {
  .fluid-container {
    max-width: 80%;
  }
}

.section {
  max-width: 70%;
  margin: 15% auto;
}
@media (max-with: 60rem) {
  .section {
    max-width: 80%;
  }
}

.header {
  font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
  background-color: #ecedef;
}
.header-container {
  display: flex;
  justify-content: space-around;
  gap: 10rem;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}
@media (max-width: 60em) {
  .header-container {
    gap: 10rem;
  }
}
.header-tabs {
  flex: 0 1 45%;
}
@media (max-width: 60em) {
  .header-tabs {
    flex: 0 1 40%;
  }
}
.header-tiles {
  padding: 40% 1%;
}
.header-title__company {
  line-height: 1;
}
.header__paragraph {
  font-size: 2rem;
}
.header-gallery {
  flex: 0 1 45%;
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
  align-self: flex-start;
}
@media (max-width: 60em) {
  .header-gallery {
    flex: 0 1 50%;
  }
}
.header-gallery__img {
  width: 80%;
  height: 100%;
}
@media (max-width: 60em) {
  .header-gallery__img {
    width: 100%;
  }
}
.header-text {
  flex: 0 1 50%;
  word-spacing: normal;
  position: relative;
}
@media (max-width: 60em) {
  .header-text {
    flex: 0 1 50%;
  }
}

.about {
  font-size: 2.2rem;
}
.about-story {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.about-story__paragraph {
  margin: 0 4rem;
}
.about-story__paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.objectives {
  font-size: 2rem;
}
.objectives-block {
  margin: 0 4rem;
}
.objectives-paragraph {
  font-size: 2rem;
}

.team-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
}
@media (max-width: 60em) {
  .team-flex {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
.team-container {
  flex: 0 1 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.team-container:last-child {
  margin: 5% auto;
}
@media (max-width: 60em) {
  .team-container {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
.team-profile {
  flex: 0 1 70%;
  text-align: left;
}
.team-profile__title {
  text-transform: uppercase;
}
.team-profile__education {
  font-weight: lighter;
}
.team-gallery {
  flex: 0 1 25%;
}
@media (max-width: 60em) {
  .team-gallery {
    margin: 0 auto;
  }
}
.team-gallery__img {
  max-width: 100%;
  -webkit-clip-path: circle(50% at 50%);
          clip-path: circle(50% at 50%);
  shape-outside: circle(48% at 50%);
}
@media (max-width: 60em) {
  .team-gallery__img {
    max-width: 50%;
    margin: 0 auto;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
  font-size: 1.6rem;
  background-color: var(--color-primary-dark);
}

h1,
h2 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.4;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}

.heading-jumbo {
  font-size: 6rem;
}
.heading-primary {
  font-size: 5rem;
}
.heading-secondary {
  font-size: 4rem;
}
.heading-tertiary {
  font-size: 3rem;
}
.heading-quadruple {
  font-size: 2.5rem;
}
.heading-quintuple {
  font-size: 2rem;
}

.paragraph {
  font-weight: lighter;
}

.list-item {
  list-style-type: none;
}

.svg {
  width: 100%;
  aspect-ratio: 4/1;
  background: url(../images/SVG/try.svg) no-repeat;
}/*# sourceMappingURL=style.css.map */