:root {
  --color-primary-light: #dbdbdb;
  --color-primary-dark: #000000;
  --color-white: #dddde1;
  --color-black: #101010;
  --body-background: #ccccdd;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  scroll-behavior: smooth;
  color: var(--color-white);
}
@media (max-width: 77.75em) {
  html {
    font-size: 56.5%;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 61%;
  }
}
@media (max-width: 58em) {
  html {
    font-size: 59.5%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 31.25em) {
  html {
    font-size: 50.75%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 23.44em) {
  html {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
  scroll-snap-align: y proximity;
  font-size: 1.8rem;
  word-spacing: 0.2rem;
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
  line-height: 1;
  margin: 0;
  font-weight: 600;
}

.heading-jumbo {
  font-size: 7rem;
}
.heading-primary {
  font-size: 5rem;
}
.heading-secondary {
  font-size: 4rem;
}
.heading-tertiary {
  font-size: 3rem;
}
.heading-quadruple {
  font-size: 2.5rem;
}
.heading-quintuple {
  font-size: 2rem;
}

.paragraph {
  font-weight: 300;
  font-size: 2rem;
}

.list-item {
  list-style-type: none;
}

.svg {
  width: 50%;
  margin-left: auto;
  aspect-ratio: 2/1;
  background: url(../images/SVG/try.svg) left center no-repeat;
}

.black {
  color: var(--color-black);
}

.color-text {
  color: var(--color-primary-dark);
}

.icon {
  display: inline-block;
  width: 4rem;
  stroke-width: 0;
  stroke: currentColor;
  aspect-ratio: 1;
  fill: currentColor;
}
@media (max-width: 60em) {
  .icon {
    width: 3rem;
    aspect-ratio: 1;
  }
}
.icon-link {
  text-decoration: none;
}

.link-description {
  text-decoration: none;
  font-weight: bolder;
  color: currentColor;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 60em) {
  .flex {
    flex-direction: column;
  }
}

#darkGroup {
  fill: var(--color-primary);
}

#light,
#dark1 {
  transform: translate(1.5rem);
  transition: transform 1s ease-in-out;
}

.service-card:hover #light,
.service-card:hover #dark1 {
  transform: translate(0);
}

.link, .link:active {
  display: inline-block;
  font-weight: 500;
  color: currentColor;
  padding: 1rem;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}
@media (prefers-color-scheme: dark) {
  .link, .link:active {
    background-color: inherit;
  }
}
@media (max-width: 56.25em) {
  .link, .link:active {
    font-size: 1.4rem;
    max-width: 15rem;
  }
}
.link:hover, .link:active:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 5px 3px rgba(85, 85, 85, 0.513);
  background-color: var(--color-black);
  color: var(--color-white);
}

.flex-row {
  display: flex;
}
@media (max-width: 48em) {
  .flex-row {
    flex-direction: column;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile {
  margin-top: 0.5rem;
}

.header {
  background-color: #ecedef;
}
.header-container {
  justify-content: space-around;
  align-items: flex-start;
  max-width: 90%;
  padding: 5%;
  margin: 0 auto;
}
@media (max-width: 60em) {
  .header-container {
    flex-direction: row;
    gap: 5rem;
  }
}
.header-tabs {
  flex: 0 1 45%;
}
.header-tiles {
  padding: 42% 1%;
}
.header-gallery {
  flex: 0 1 50%;
  position: -webkit-sticky;
  position: sticky;
  top: 24%;
}
@media (max-width: 60em) {
  .header-gallery {
    flex: 0 1 50%;
    top: 14%;
  }
}
.header-gallery__img {
  width: 60%;
  aspect-ratio: 1;
}
@media (max-width: 60em) {
  .header-gallery__img {
    width: 100%;
  }
}
.header-link {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.about-story {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.about-story__paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.objectives-title {
  font-style: italic;
}
.objectives-footer {
  padding-top: 15%;
}

.team-flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2%;
}
@media (max-width: 60em) {
  .team-flex {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
.team-container {
  flex: 0 1 48%;
  justify-self: flex-start;
}
@media (max-width: 60em) {
  .team-container {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    justify-content: space-around;
  }
  .team-container:not(:first-child) {
    margin-top: 5rem;
  }
}
.team-gallery {
  float: left;
  width: 30%;
  shape-outside: circle(48% at 50%);
  padding-right: 2rem;
}
@media (max-width: 60em) {
  .team-gallery {
    width: 40%;
    padding-right: 0.1rem;
  }
}
.team-gallery__img {
  max-width: 100%;
  -webkit-clip-path: circle(50% at 50%);
          clip-path: circle(50% at 50%);
  shape-outside: circle(48% at 50%);
}
@media (max-width: 60em) {
  .team-gallery__img {
    max-width: 70%;
    margin: 0 auto;
  }
}
.team-social {
  display: inline-block;
}
.team-title {
  margin-bottom: 5rem;
}
.team-education-list {
  margin: 1.5rem;
}
.team-icon {
  fill: var(--color-black);
}

.video {
  position: relative;
  color: var(--color-black);
}
.video-flex {
  justify-content: space-between;
  gap: 10rem;
}
.video-object {
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  margin: 2rem 0;
  flex: 0 1 45%;
  padding: 0 0 2rem;
  background-color: rgb(115, 111, 111);
  height: 40vh;
}
@media (max-width: 60em) {
  .video-object {
    width: 100%;
  }
}
@media (max-width: 24em) {
  .video-object {
    height: 20vh;
  }
}
.video-source {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 60em) {
  .video-source {
    max-width: 100%;
    margin: 0 auto;
  }
}
.video-source:hover {
  height: 75%;
}
.video-label {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 0rem 0.9rem;
}
.video-label > * {
  padding: 0.5rem 0;
}
.video-poster {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  cursor: pointer;
}
.video-poster:hover {
  opacity: 0;
}

.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
  font-size: 1.6rem;
  border-top: thin solid var(--color-primary-dark);
}
.footer-paragraph {
  display: flex;
  align-items: center;
}
.footer-link {
  padding-left: 0.5rem;
  display: inline-block;
  margin: 0 auto;
}
.footer-link:hover {
  transform: translate(0, -2px);
  box-shadow: none;
}

.fluid-container {
  width: 100vw;
  padding: 7.5% 0;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 60em) {
  .fluid-container {
    width: 90vw;
  }
}

.section {
  max-width: 70%;
  margin: 15% auto;
}
@media (max-width: 60em) {
  .section {
    max-width: 90%;
  }
}/*# sourceMappingURL=style.css.map */