

.fluid-container {
  width: 100vw;
  padding:7.5% 0;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width:60em) {
    &{
      width: 90vw;
    }
  }
}

.section{
  max-width: 70%;
  margin: 15% auto;

  @media (max-width:60em) {
    &{
      max-width: 90%;
    }
}
}