
.icon {
  width: 4rem;
  aspect-ratio: 1;
  fill: var(--color-black);

  @media (max-width:60em) {
    & {
      width: 2.5rem;
      aspect-ratio: 1;
    }
  }
}

//center
.center {
  text-align: center;
}

//Row
.row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#darkGroup {
  fill: var(--color-primary);
}

#light,
#dark1 {
  transform: translate(1.5rem);
  transition: transform 1s ease-in-out;
}

.service-card:hover #light,
.service-card:hover #dark1 {
  transform: translate(0);
}

//CARD
.card {
  padding: 3rem ;
  background: #f0f0f0;
  border-radius: 5px;

  @media (max-width:60em) {
    padding: 3rem 2rem;
  }
}


.link {
  &,
  &:active {
    display: block;
    max-width: 12rem;
    font-size: 1.6rem;
    font-weight: bolder;
    color: inherit;
    text-transform: lowercase;
    padding: 1rem 0;
    position: relative;

    transition: all .4s ease-in-out;

    @media (prefers-color-scheme: dark) {
      background-color: inherit;
    }

    @media (max-width: 56.25em) {
      & {
        font-size: 1.4rem;
        max-width: 15rem;
      }
    }

    &:hover {
      transform: translateY(-1rem);
      box-shadow: 0 5px 3px #555;
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }
}



.flex-row {
  display: flex;

  @media (max-width:48em) {
    & {
      flex-direction: column;
    }
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fluid-container {
  width: 100vw;
  padding:7.5% 0;
  margin: 0 auto;
  overflow: hidden;

  @media (max-with:60rem) {
    &{
      max-width: 80%;
    }
  }
}

.section{
  max-width: 70%;
  margin: 15% auto;

  @media (max-with:60rem) {
    &{
      max-width: 80%;
    }
}
}