.header {
  font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
  background-color: #ecedef;

  &-container {
    display: flex;
    justify-content: space-around;
    gap: 10rem;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;

    @media (max-width:60em) {
      gap: 10rem;
    }
  }

  &-tabs {
    flex: 0 1 45%;

    @media (max-width:60em) {
      flex: 0 1 40%;
    }
  }

  &-tiles {
    padding: 40% 1%;
  }

  &-title {
    &__company {
      line-height: 1;
    }
  }

  &__paragraph {
    font-size: 2rem;
  }


  &-gallery {
    flex: 0 1 45%;
    position: sticky;
    top: 20%;
    align-self: flex-start;

    @media (max-width:60em) {
      flex: 0 1 50%;
    }

    &__img {
      width: 80%;
      height: 100%;

      @media (max-width:60em) {
        width: 100%;
      }
    }
  }

  &-text {
    flex: 0 1 50%;
    word-spacing: normal;
    position: relative;

    @media (max-width: 60em) {
      & {
        flex: 0 1 50%;
      }
    }
  }
}

//header

//About
.about {
  font-size: 2.2rem;

  &-story {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &__paragraph {

      margin: 0 4rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}


//

//service
.objectives {
  font-size: 2rem;

  &-block {
    margin: 0 4rem;

  }

  &-paragraph {
    font-size: 2rem;
  }
}

//

//team
.team {

  &-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%;

    @media (max-width: 60em) {
      & {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
    }
  }

  &-container {
    flex: 0 1 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    &:last-child {
      margin: 5% auto;
    }

    @media (max-width: 60em) {
      & {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
    }
  }

  &-profile {
    flex: 0 1 70%;
    text-align: left;

    &__title {
      text-transform: uppercase;
    }

    &__education {
      font-weight: lighter;
    }
  }

  &-gallery {
    flex: 0 1 25%;

    @media (max-width: 60em) {
      & {
        margin: 0 auto;
      }
    }

    &__img {
      max-width: 100%;
      clip-path: circle(50% at 50%);
      shape-outside: circle(48% at 50%);

      @media (max-width: 60em) {
        & {
          max-width: 50%;
          margin: 0 auto;
        }
      }
    }
  }
}

//
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
  font-size: 1.6rem;
  background-color: var(--color-primary-dark);
}