.header {
  min-height: 50vh;

  &-container {
    justify-content: space-around;
    align-items: center;
    padding: 10% 5rem;

    background: url(../images/wave.svg) top center/cover no-repeat;

    @media (prefers-color-scheme: dark) {
      background: url(../images/wave-dark.svg) top center/cover no-repeat;
    }

    @media (max-width: 60em) {
      & {
        padding: 2rem;
        flex-direction: column-reverse;
      }
    }
  }

  &-text {
    flex: 0 1 50%;
    word-spacing: normal;
    position: relative;

    @media (max-width: 60em) {
      & {
        flex: 0 1 50%;
      }
    }
  }

  &-title{
      position: sticky;
      top:2%;
  }

  &-hero {
    flex: 0 1 50%;
    max-width: 70rem;

    @media (max-width: 60em) {
      & {
        max-width: 40rem;
      }
    }
  }
}

//Header

//pledge
.pledge {
  max-width: 100%;
  font-size: 1.8rem;

  &-container {
    margin: 0 auto;
    max-width: 100%;
    align-items: stretch;
    background: #b9b9cf45;

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-primary-dark);
    }

    @media (max-width: 51em) {
      & {
        display: block;
        max-width: 100%;
      }
    }
  }

  &-img {
    flex: 0 1 35%;
    clip-path: polygon(
      0% 15%,
      15% 15%,
      15% 0%,
      85% 0%,
      85% 15%,
      100% 15%,
      100% 85%,
      85% 85%,
      85% 100%,
      15% 100%,
      15% 85%,
      0% 85%
    );
    width: 50%;
    align-self: center;
    @media (max-width:64em) { width: 50%;
        padding: 7%;
    }

  }

  &-card {
    position: relative;
    z-index: 3;
    background: var(--body-background);
    flex: 0 1 60%;
    padding: 10rem 15%;

    @media (max-width:64em) {
        padding: 10rem 5%;
    }

    &__paragraph {
      font-size: 2rem;
    }
  }

  &-paragraph {
    text-indent: 0;
  }
}

//About
.about {
  min-height: 60vh;
  display: flex;
  align-items: center;
  font-size: 2.2rem;

  &-story {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;

    @media (max-width: 56.25em) {
      & {
        width: 90%;
      }
    }

    &__paragraph {
      font-family: "Raleway";
      font-weight: 500;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}

//

//service
.service {
  padding: 10rem 0;
  font-size: 2.2rem;

  &-container {
    margin: 0 auto;
    max-width: 90%;
  }

  &-card {
    display: flex;
    align-items: center;
    background: none;
    max-width: 80%;


    @media (max-width:60em) {
        max-width: 100%;
    }

    &__container {
      background: var(--color-white);
      border-radius: 7px;
      padding: 2rem;


    }
  }

  &-process {
    &__list-item {
      margin: 0.5rem 5rem;
      list-style-type: decimal;
    }
  }
}

//

//team
.team {
  padding: 10rem 0;
  margin: 0 auto;
  max-width: 70%;

  &-flex {
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 60em) {
      & {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        margin: 0 auto;
      }
    }
  }

  &-container {
    flex: 0 1 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    @media (max-width: 60em) {
      & {
        gap: 1rem;
        align-items: center;
        justify-content: space-around;
      }
    }
  }

  &-profile {
    flex: 0 1 70%;
    text-align: left;

    &__title {
      font-weight: 700;
    }

    &__name,
    &__title {
      padding: 0;
    }
  }

  &-title {
    animation: animate-fade 2s ease-in-out 0.1s both;
  }

  &-picture {
    flex: 0 1 25%;

    @media (max-width: 60em) {
      & {
        margin: 0 auto;
      }
    }
  }

  &-img {
    max-width: 100%;
    clip-path: circle(48% at 50%);
    shape-outside: circle(48% at 50%);
    transform: translateY(2px);

    @media (max-width: 60em) {
      & {
        margin: 0 auto;
      }
    }
  }
}

//

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
  font-size: 1.6rem;

  background: var(--color-primary);

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-primary-dark);
  }
}
